<a href="https://colab.research.google.com/github/sivaldo-almeida1973/aula1-/blob/main/aula_teorica03_eng_soft_logprog.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Estruturas Condicionais
algoritimo sequencial.

#Condicional Simples
Ler 2 valores inteiro e comparar ambos

In [3]:
n1 = int(input('Digite primeiro valor inteiro:'))
n2 = int(input('Digite outro valor inteiro:'))
if (n1 > n2 ):
  print('primeiro valor maior que o segundo!')

Digite primeiro numero:10
Digite outro numero:5
primeiro valor maior maior que o segundo!

#Condicional Composta
par ou impar

In [5]:
valor_int = int(input('Digite um valor inteiro:'))
if( valor_int % 2 == 0):
  print('PAR!!')
else:
  print('IMPAR!!')

Digite um valor inteiro:12
PAR!!

#Operadores Logicos not(não)negação, and(e)conjunção, or(ou)disjunção.

#not

In [7]:
x = True
y = False
print(not x)
print(not y)

False
True

#and(2 verdades )

In [8]:
x = True
y = False
print(x and y)

False

#or (uma verdade)

In [9]:
x = True
y = False
print(x or y)

True

#Precedencia dos Operadores
()Parenteses
-potencias ou raiz
-multiplicação ou divisão e modulo
-adição e subtração
-op. relacionais
-op logico not, and, or 
-atribuições

In [10]:
x = 10
y = 1
res = not x > y
print(res)

False

In [11]:
x = 10
y = 1
z = 5.5
res = x > y and z == y
print(res)

False

#Exercicio

In [20]:
nota1 = float(input('Digite a primeira nota: '))
nota2 = float(input('Digite a segunda nota: '))
nota3 = float(input('Digite a terceira nota: '))
if nota1 >= 7 and nota2 >= 7 and nota3 >= 7:
  print('Aluno aprovado!')
else:
  print('Aluno reprovado!')

Digite a primeira nota: 6
Digite a segunda nota: 7
Digite a terceira nota: 8
Aluno reprovado!

#Condicionais Aninhadas com 2 niveis

In [43]:
print('Escolha o que deseja comprar: ')
print('1- Maçãs: ')
print('2- Bananas: ')
print('3- Laranjas: ')
produto = int(input('QUAL A SUA ESCOLHA? '))
qtd= int(input('Quantas unidades? '))
if (produto == 1):
  pagar = qtd * 2.3
  print('Voce comprou {} maçãs: Total a pagar: {:.2f} R$.'.format(qtd, pagar ))
else:
  if (produto == 2):
    pagar = qtd * 3.6
    print('voce comprou {} bananas:Total a pagar: {:.2f} R$'. format(qtd, pagar))
  else:
      if (produto == 3):
        pagar = qtd * 1.85
        print('voce comprou {} laranjas: Total a pagar: {:.2f} R$'.format(qtd, pagar))
      else:
        print('produto enexistente')

Escolha o que deseja comprar:
1- Maçãs:
2- Bananas:
3- Laranjas:
QUAL A SUA ESCOLHA? 2
Quantas unidades? 32
voce comprou 32 bananas:Total a pagar: 115.20 R$

#Condicional de multipla escolha elif

In [45]:
print('escolha o produto que deseja comprar:')
print('1-> Maçã:')
print('2-> Bananas: ')
print('3-> laranjas: ')
produto = int(input('escolha o produto:'))
qtd = int(input('Escolha a quantidade: '))
if produto == 1:
  pagar = qtd * 1.80
  print('Voce escolheu {} macãs :Total a pagar:{} R$'.format(qtd, pagar))
elif produto == 2:
  pagar = qtd * 1.2
  print('voce comprou {} bananas : Total a pagar:{} R$'.format(qtd, pagar))
elif produto == 3:
  pagar = qtd * 1.5
  print('voce comprou {} laranjas:Total a pagar:{} R$'.format(qtd, pagar))

else:
   print('produto escolhido não existe!!')
print('Fim!!')

escolha o produto que desja comprar:
1-> Maçã:
2-> Bananas:
3-> laranjas:
escolha o produto:1
Escolha a quantidade: 2
Voce escolheu 2 macãs :Total a pagar:3.6R$
Fim!!

In [59]:
nome = input('Digite seu nome: ')
idade = int(input('Qual sua idade'))
if nome == 'sivaldo':
  print('Olá , sivaldo!')
elif idade < 18:
  print('menor de idade!')
elif idade >= 100:
  print('Voce é imortal!')

Digite seu nome: jose
Qual sua idade100
Voce é imortal!